<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href= "css/styles.css">

</head>

<body>
    {{>header}}         <!--jangan lupa tulisan header-nya-->

    <p>i am sorry. you can't reach your searching. Try another one or contact admin.
        {{errorMessage}}
    </p>

    
    {{>footer}}
</body>



</html>

