<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href= "css/styles.css">

</head>

<body>

    <div class="image">
        {{>header}}         <!--jangan lupa tulisan header-nya-->

        <h2>Hallo. This is about experience! </h2>
        <img class="portrait" src="img/1 year.jpg"> 
        <p>You know this is {{title}}. This template is made by {{name}}</p>
    </div>

    {{>footer}}
</body>



</html>