<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href= "css/styles.css">
</head>

<body>
    {{> header}}

    <h2>Help Me ? yup. for something matches.</h2>
    <p>How can i handle {{title}} ? yes, absolutely. {{name}}</p>

    {{>footer}}
</body>



</html>