<!DOCTYPE html>>

<html>

<head>
    <link rel="stylesheet" href= "css/styles.css">


</head>

<body>
    Salamina Syifaul Husna
    {{>header}}

    <p>bismillah. Tidak ada yg tidak mungkin bagi-Nya.
        {{name}}. Dan ingat ini. ingat selalu {{steps}}
    </p>

    {{>footer}}


</body>


</html>